@import "reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font: var(--font-md);
}

.app {
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    height: var(--page-height);
    flex-grow: 1;
    padding: var(--page-padding);
}
