.sidebar {
    position: relative;
    display: flex;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    flex-direction: column;
    justify-content: space-between;
    padding: var(--page-padding);
    background: var(--inverted-bg-color);
    transition: width 0.2s;
}

.collapse-button {
    position: absolute;
    right: -36px;
    bottom: 36px;
}

.switchers {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
}

.links {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
}

.icon {
    fill: var(--secondary-color);
}

.link {
    display: flex;
    gap: 1rem;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .link-text {
        display: none;
    }
}
