.button {
    cursor: pointer;
    width: min-content;
    height: min-content;
    transition: background-color 0.2s;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.main {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background: var(--inverted-primary-color);
    color: var(--inverted-secondary-color);

    &:hover {
        background: var(--primary-color);
        color: var(--secondary-color);

    }
}
