.button {
    width: min-content;
    height: min-content;
    border-radius: calc(var(--font-size-md) / 4);
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.2s;
}

.clear {
    border: none;
    background: none;
    outline: none;
}

.outline {
    background: none;
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);
}


.outline-inverted {
    background: none;
    color: var(--inverted-primary-color);
    outline: 1px solid var(--inverted-primary-color);
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
}

.inverted-background {
    background: var(--inverted-bg-color);
    color: var(--secondary-color);
}

.main {
    background: var(--inverted-primary-color);
    color: var(--inverted-secondary-color);

    &:hover {
        background: var(--primary-color);
        color: var(--secondary-color);
    }
}

.sm {
    padding: calc(var(--font-size-sm) / 2) var(--font-size-sm);
}

.md {
    padding: calc(var(--font-size-md) / 2) var(--font-size-md);
}

.lg {
    padding: calc(var(--font-size-lg) / 2) var(--font-size-lg);
}

.xl {
    padding: calc(var(--font-size-xl) / 2) var(--font-size-xl);
}

.square {
    padding: 0;
    text-align: center;
}

.square.sm {
    width: var(--font-line-sm);
    height: var(--font-line-sm);
    font: var(--font-sm);
}

.square.md {
    width: var(--font-line-md);
    height: var(--font-line-md);
    font: var(--font-md);
}

.square.lg {
    width: var(--font-line-lg);
    height: var(--font-line-lg);
    font: var(--font-lg);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font: var(--font-xl);
}
