.overlay {
    z-index: -10;
    opacity: 0;
    position: absolute;
    inset: 0;
    background: rgb(0 0 0 / 60%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    z-index: -10;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--bg-color);
    scale: 0.5;
    transition: scale ease-in-out 0.3s;
}

.opened {
    z-index: var(--z-index-modal);
    opacity: 1;

    .modal {
        scale: 1;
    }
}
